@import url("https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap");
#description {
  background-color: #ffccff;
  text-align: center;
  font-family: "Playwrite GB S", serif;
}
#mascot {
  font-size: 200px;
  transform: rotate(180deg);
  margin: 90px;
  text-align: center;
}
#dormRoom {
  height: 800px;
  width: 800px;
  background-color: #999999;
  margin: 50px 0px 75px 350px;
}
#rug {
  background-color: #cee4cf;
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='88' viewBox='0 0 80 88' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22 21.91V26h-2c-9.94 0-18 8.06-18 18 0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73 3.212-6.99 9.983-12.008 18-12.73V62h2c9.94 0 18-8.06 18-18 0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73-3.212 6.99-9.983 12.008-18 12.73zM54 58v4.696c-5.574 1.316-10.455 4.428-14 8.69-3.545-4.262-8.426-7.374-14-8.69V58h-5.993C12.27 58 6 51.734 6 44c0-7.732 6.275-14 14.007-14H26v-4.696c5.574-1.316 10.455-4.428 14-8.69 3.545 4.262 8.426 7.374 14 8.69V30h5.993C67.73 30 74 36.266 74 44c0 7.732-6.275 14-14.007 14H54zM42 88c0-9.94 8.06-18 18-18h2v-4.09c8.016-.722 14.787-5.738 18-12.73v7.434c-3.545 4.262-8.426 7.374-14 8.69V74h-5.993C52.275 74 46 80.268 46 88h-4zm-4 0c0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73v7.434c3.545 4.262 8.426 7.374 14 8.69V74h5.993C27.73 74 34 80.266 34 88h4zm4-88c0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73v-7.434c-3.545-4.262-8.426-7.374-14-8.69V14h-5.993C52.27 14 46 7.734 46 0h-4zM0 34.82c3.213-6.992 9.984-12.008 18-12.73V18h2c9.94 0 18-8.06 18-18h-4c0 7.732-6.275 14-14.007 14H14v4.696c-5.574 1.316-10.455 4.428-14 8.69v7.433z' fill='%232c5430' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  height: 500px;
  width: 300px;
  position: relative;
  top: 100px;
  left: 250px;
  text-align: center;
}
#dresserOne {
  height: 200px;
  width: 150px;
  background-color: #996633;
  position: relative;
  top: -490px;
  left: 20px;
  text-align: center;
}
#dresserTwo {
  height: 200px;
  width: 150px;
  background-color: #996633;
  position: relative;
  top: -690px;
  left: 600px;
  text-align: center;
}
#deskOne {
  height: 200px;
  width: 150px;
  position: relative;
  top: -660px;
  left: 20px;
  background-color: #996633;
  text-align: center;
}
#deskTwo {
  height: 200px;
  width: 150px;
  background-color: #996633;
  position: relative;
  top: -860px;
  left: 600px;
  text-align: center;
}
#chairOne {
  height: 90px;
  width: 100px;
  position: relative;
  top: -1050px;
  left: 200px;
  transform: rotate(120deg);
  background-color: #996633;
  text-align: center;
}
#chairTwo {
  height: 90px;
  width: 100px;
  position: relative;
  top: -1140px;
  left: 470px;
  transform: rotate(-120deg);
  background-color: #996633;
  text-align: center;
}
#chairOnePosition {
  position: fixed;
  top: 110px;
  left: 10px;
  padding: 8px 15px;
  background: #9999FF;
  color: black;
  font-size: 16px;
  font-family: "Playwrite GB S", serif;
  border-radius: 5px;
}
#chairTwoPosition {
  position: fixed;
  top: 180px;
  left: 10px;
  padding: 8px 15px;
  background: #9999FF;
  color: black;
  font-size: 16px;
  font-family: "Playwrite GB S", serif;
  border-radius: 5px;
}
#bedOne {
  background-color: #fbfceb;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23508841' fill-opacity='0.4' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
  height: 300px;
  width: 150px;
  position: relative;
  top: -1000px;
  left: 20px;
  text-align: center;
}
#bedTwo {
  background-color: #fbfceb;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23508841' fill-opacity='0.4' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
  height: 300px;
  width: 150px;
  position: relative;
  top: -1310px;
  left: 600px;
  text-align: center;
}
#pillowOne {
  background-color: white;
  border: 0.5px solid black;
  height: 60px;
  width: 120px;
  position: relative;
  top: -1370px;
  left: 35px;
  text-align: center;
}
#pillowTwo {
  background-color: white;
  border: 0.5px solid black;
  height: 60px;
  width: 120px;
  position: relative;
  top: -1440px;
  left: 620px;
  text-align: center;
}
#cabinet {
  height: 100px;
  width: 200px;
  position: relative;
  top: -1510px;
  left: 300px;
  background-color: white;
  text-align: center;
}